################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aknakereso123/.vs/Aknakereso123/v16/Server/sqlite3/db.lock
